@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
}